@model ConfigForm.Models.ConfigData

<div class="menu_tabs">
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("DD Network", "DeviceConfigNetwork", "Device")</li>
            <li>@Html.ActionLink("Video", "DeviceConfigVideo", "Home")</li>
            <li>@Html.ActionLink("DIO", "DeviceConfigDIO", "Home")</li>
            <li>@Html.ActionLink("Analitic Engines", "DeviceConfigAnaliicEngines", "Home")</li>
            <li>@Html.ActionLink("Analitic Configuration", "DeviceConfigAnaliicConfig", "Home")</li>
        </ul>
    </nav>
</div>


